page-playlists {

  playlist-component {
    height: 100%;
    width: 100%;
  }

  .playlist-item {
    ion-buttons {
      ion-icon {
        font-size: 200%;
      }
    }
    h2 {
      ion-badge {
        position: relative;
        bottom: 10px;
      }
    }

    .item-inner {
      margin-left: 0 !important;
    }
  }

  .playlist-item.selected {
    background: rgba(0, 0, 0, .1);
    box-shadow: 1px 1px 1px rgba(0,0,0,.3) inset;
  }

  ion-navbar {
    ion-buttons {
      ion-icon {
        font-size: 200%;
      }
    }
  }

  .item-ios {
    h2 {
      font-size: 90%;
    }
  }

  ion-icon sub {
    font-size: 66%;
    margin-left: -6px;
  }

  .video {
    text-align: center;
  }

  ion-toolbar {
    div.flex {
      display: flex;
      width: 100%;
    }

    .text-right {
      text-align: right;
    }
  }

  button.fab {
    transition: opacity 5s ease-in-out;
    opacity: 1;
    //margin-left: 0;
  }

  button.fab.hide {
    opacity: 0;
    //margin-left: 100%;
  }

}


