page-playlists {

  div.badge {
    display: inline-block;
    width: 48px;
    text-align: center;
    ion-badge {
      box-shadow: 0 0 2px rgba(0,0,0,.7) inset;
      text-shadow: 0 0 2px rgba(0,0,0,.7);
    }
  }

  playlist-component {
    height: 100%;
    width: 100%;
  }

  .playlist-item {
    ion-buttons {
      ion-icon {
        font-size: 150%;
      }
    }
    h2 {
      ion-badge {
        position: relative;
        bottom: 10px;
      }
    }

    .item-inner {
      margin-left: 0 !important;
    }

    ion-buttons {
      button {
        vertical-align: middle;
      }
    }

    .duration {
      color: #aaa;
      font-size: 75%;
      ion-icon { width: 16px; text-align: center; }
    }
  }

  .playlist-item.selected {
    background: #eee !important;
    box-shadow: 0 0 5px rgba(0,0,0,.3) inset;
  }

  ion-navbar {
    ion-buttons {
      ion-icon {
        font-size: 150%;
      }
    }
  }

  .item-ios {
    h2 {
      font-size: 90%;
    }
  }

  .video {
    text-align: center;
  }

  ion-toolbar {
    div.flex {
      display: flex;
      width: 100%;
    }

    .text-right {
      text-align: right;
    }
  }

  button.fab {
    transition: opacity 5s ease-in-out;
    opacity: 1;
    //margin-left: 0;
  }

  button.fab.hide {
    opacity: 0;
    //margin-left: 100%;
  }

}


