<ion-header class="mode-color">
  <ion-navbar>
    <button ion-button menuToggle="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Playlists
    </ion-title>
    <!--<ion-buttons end>-->
      <!--<button ion-button title="Search" class="primary-button" (click)="goToSearchPage()">-->
        <!--<ion-icon name="search"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  </ion-navbar>
</ion-header>

<ion-content #content class="mode-color">
  <!--<pre>{{!selector.length | json}}</pre>-->
  <!--<playlist-component ion-fixed *ngIf="playlist" [playlist]="playlist"></playlist-component>-->
  <ion-list>
    <ion-item-sliding *ngFor="let playlist of playlists">
      <ion-item class="playlist-item clear" [class.selected]="isSelected(playlist)">

        <div item-start class="duration">
          <!--<template [ngIf]="playlist.duration">-->
            {{playlist.duration | duration}}
            <ion-icon name="time"></ion-icon>
          <!--</template>-->
        </div>

        <ion-label (click)="plManager.toggleSelectPlaylist(playlist)">
          {{playlist.name}}
        </ion-label>

        <div item-end class="badge">
          <ion-badge color="primary">
            <ion-icon name="musical-note"></ion-icon>
            {{playlist.count}}
          </ion-badge>
        </div>

        <!--<ion-buttons item-end *ngIf="playlist.media?.length">-->
          <!--<button ion-button clear (click)="shuffle(playlist)">-->
            <!--<ion-icon name="shuffle"></ion-icon>-->
          <!--</button>-->
          <!--<button ion-fab class="small" (click)="play(playlist)">-->
            <!--<ion-icon name="play"></ion-icon>-->
          <!--</button>-->
        <!--</ion-buttons>-->

      </ion-item>
      <ion-item-options side="left">
        <button ion-button color="primary" (click)="play(playlist)">
          <ion-icon name="play"></ion-icon>
          Play
        </button>
        <button ion-button color="secondary" (click)="offline.makePlaylistOffline(playlist)">
          Make Offline
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removePlaylist(playlist)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button *ngIf="!selector.length" ion-fab color="secondary"
          [class.hide]="plManager.playlist"
          (click)="createPlaylist($event)">
      <ion-icon name="add"></ion-icon>
    </button>
    <!--<button *ngIf="selector.length" ion-fab color="danger"-->
          <!--[class.hide]="plManager.playlist"-->
          <!--(click)="removeSelected($event)">-->
      <!--<ion-icon name="trash"></ion-icon>-->
    <!--</button>-->
  </ion-fab>

  <!--<pre>{{playlist | json}}</pre>-->
</ion-content>
