<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="menu" *ngIf="!playlist">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title left>YouTube</ion-title>
    <ion-buttons end *ngIf="playlist">
      <button ion-button (tap)="dismiss()" clear>
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list [virtualScroll]="list" approxItemHeight="100px">
    <div *virtualItem="let item" class="list-item">
      <medium-component [item]="item"
                        [selected]="selector.isSelected(item)"
                        (select)="selector.toggleSelect(item)"
                        [hasPlaylist]="playlist"
                        (toPlaylist)="addToPlaylist(item)"
                        [hasVideo]="mediaManager.hasVideo(item)"
                        [hasAudio]="mediaManager.hasAudio(item)"
                        [thumbnail]="mediaManager.getThumbnailUrl(item)"
                        [landscape]="platform.isLandscape()"
                        (play)="playMedia(item)"></medium-component>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item class="clear">
      <ion-icon item-start name="search"></ion-icon>
      <ion-input icon-left type="text" placeholder="search" [(ngModel)]="search" (ionChange)="filter()">
      </ion-input>
      <button item-end ion-button clear *ngIf="search" (click)="search=''">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
