<ion-header class="mode-color">
  <ion-navbar>
    <button ion-button menuToggle="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{artist.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content class="mode-color">
  <div padding>
    <h2>
      {{artist.name}}
    </h2>
    <!--<div class="cover">-->
    <!--<img [src]="mediaManager.getArtistThumbnailUrl(artist)">-->
    <!--</div>-->
    <p>
      <!-- @todo artist description -->
    </p>
  </div>
  <hr>
  <ion-list>
    <ion-item *ngFor="let album of artist.albums" class="item-small">
      <div class="thumbnail" item-start (tap)="openAlbum(album)">
        <img [src]="getAlbumCover(album)">
        <span class="duration" *ngIf="album.duration">
          {{album.duration | duration}}
        </span>
      </div>
      <ion-label>
        <h2>{{album.name}}</h2>
        <p>
          <span *ngIf="album.artist">
            <ion-icon name="person"></ion-icon>
            {{album.artist?.name}}
            <br>
          </span>
          {{album.count}}
          <ion-icon name="musical-note" title="media"></ion-icon>
        </p>
      </ion-label>
      <ion-buttons item-end>
        <button ion-fab class="small" (tap)="play(album)">
          <ion-icon name="play"></ion-icon>
        </button>
      </ion-buttons>
    </ion-item>
  </ion-list>
  <hr>
  <ion-list class="items">
    <ion-item *ngFor="let item of artist.media" class="item-component"
              [class.played]="player.wasPlayed(item)"
              [class.current]="player.isCurrent(item)"
              (tap)="playItem(item)">
      <ion-label>
        <h2>
          {{item.name}}
        </h2>
        <p>
          <ion-icon name="contact" *ngIf="description"></ion-icon>
          {{description}}
        </p>
      </ion-label>

      <span item-end class="duration">
        <span *ngIf="!player.isPlaying(item)">
            {{item.duration | duration}}
        </span>

        <musical-spinner *ngIf="player.isPlaying(item)" color="red"></musical-spinner>
      </span>

    </ion-item>
  </ion-list>
</ion-content>