artist-page {
  .duration {
    font-size: 1.4rem;
    color: #888;
    float: right;
  }

  .cover {
    max-width: 25%;
    float: left;
  }

  ion-title {
    h2 { display: inline-block; vertical-align: middle; margin: 0;}
    .close-down {
      display: inline-block;
      cursor: pointer; padding: 5px 10px;
      vertical-align: middle;
    }
  }

}
