<ion-list>
  <ion-item *ngFor="let host of hosts">
    {{host}}
    <ion-icon item-end [color]="servers[host].connected ? 'secondary': 'primary'" name="wifi"></ion-icon>
    <button *ngIf="!servers[host].connected" ion-button color="primary" item-end (click)="onConnectClick(host)">Connect</button>
    <button *ngIf="servers[host].connected" ion-button color="danger" item-end (click)="onDisconnectClick(host)">Disconnect</button>
    <button ion-button color="danger" item-end (click)="onRemoveClick(host)">Remove</button>
  </ion-item>
  <ion-item>
    <ion-label item-start>Host</ion-label>
    <ion-input [(ngModel)]="newServer.host"></ion-input>
    <button ion-button item-end color="primary" (click)="onAddClick()">Add</button>
  </ion-item>
</ion-list>