<ion-list>
  <ion-item *ngFor="let host of hosts">
    {{host}}
    <ion-icon item-end [color]="servers[host].connected ? 'secondary': 'primary'" name="wifi" [title]="servers[host].connected ? 'connected' : 'disconnected'"></ion-icon>
    <button *ngIf="!servers[host].connected" clear ion-button color="primary" item-end (click)="onConnectClick(host)">
      <ion-icon name="log-in"></ion-icon>
    </button>
    <button *ngIf="servers[host].connected" clear ion-button color="danger" item-end (click)="onDisconnectClick(host)">
      <ion-icon name="log-out"></ion-icon>
    </button>
    <button ion-button color="danger" clear item-end (click)="onRemoveClick(host)">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-item>
  <ion-item>
    <ion-label item-start>Host</ion-label>
    <ion-input [(ngModel)]="newServer.host"></ion-input>
    <button ion-button item-end color="primary" (click)="onAddClick()">Add</button>
  </ion-item>
</ion-list>
