<ion-list>
  <ion-item *ngFor="let host of hosts" [class.connected]="serverManager.isConnected(host)">
    {{host}}
    <ion-icon class="status" item-end name="wifi" [title]="servers[host].connected ? 'connected' : 'disconnected'"></ion-icon>
    <button clear ion-button item-end (click)="onConnectClick(host)" class="connect">
      <ion-icon name="log-in"></ion-icon>
    </button>
    <button clear ion-button item-end (click)="onDisconnectClick(host)" class="disconnect">
      <ion-icon name="log-out"></ion-icon>
    </button>
    <button ion-button color="danger" clear item-end (click)="onRemoveClick(host)">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-item>
  <ion-item class="clear">
    <ion-label item-start>Host</ion-label>
    <ion-input [(ngModel)]="newServer.host"></ion-input>
    <button [disabled]="!newServer.host" ion-button item-end (click)="onAddClick()">Add</button>
  </ion-item>
</ion-list>
