<ion-range [(ngModel)]="currentTime" [min]="0" [max]="totalTime"
           [debounce]="500"
           [disabled]="!this.current"
           (ionFocus)="onSliderFocus($event)"
           (ionBlur)="onSliderBlur($event)"
           (ionChange)="onSliderChange($event)">
  <ion-label range-left>{{currentTime | duration}}</ion-label>
  <ion-label range-right>{{totalTime | duration}}</ion-label>
</ion-range>
<div>
  <!--<h2 class="title">{{current?.name}}</h2>-->
  <ion-buttons end>
    <button ion-button clear small (click)="playVideo()" title="Play Video"
            [class.button-primary]="video">
      <ion-icon name="videocam"></ion-icon>
    </button>
    <button ion-button clear small (click)="playAudio()" title="Play Audio only"
            [class.button-primary]="audio">
      <ion-icon name="musical-notes"></ion-icon>
    </button>
    <button [disabled]="!playing || !length" ion-button clear small
            (click)="playPrev()"
            title="Play previous">
      <ion-icon name="skip-backward"></ion-icon>
    </button>
    <button ion-button (click)="togglePlay()" clear small title="Play / Pause"
            [class.button-primary]="playing">
      <ion-icon [name]="playIcon"></ion-icon>
    </button>
    <button [disabled]="!playing || !length" ion-button clear small
            (click)="playNext()"
            title="Play next">
      <ion-icon name="skip-forward"></ion-icon>
    </button>
    <button ion-button (click)="toggleShuffle()" clear small title="Toggle Shuffle"
            [class.button-primary]="shuffle">
      <ion-icon name="shuffle"></ion-icon>
    </button>
    <button ion-button (click)="toggleRepeat()" clear small title="Toggle Repeat"
            [class.button-primary]="repeat">
      <ion-icon name="repeat"></ion-icon>
    </button>
  </ion-buttons>
</div>
