<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title left>In Cloud</ion-title>
    <ion-buttons left>
      <button ion-button clear>
        <ion-icon name="musical-notes"></ion-icon>
        Media
      </button>
      <button ion-button clear>
        <ion-icon name="person"></ion-icon>
        Artists
      </button>
      <button ion-button clear>
        <ion-icon name="disc"></ion-icon>
        Albums
      </button>
    </ion-buttons>
    <ion-buttons end right>
      <button ion-button title="More options" class="primary-button" (click)="tools = !tools">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="tools">
    <ion-item>
      <ion-icon item-start name="search"></ion-icon>
      <ion-input icon-left type="text" [(ngModel)]="search" (ionChange)="filter()">
      </ion-input>
      <button item-end ion-button clear *ngIf="search" (click)="search=''">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <div ion-fixed style="width: 100%;">
    <div [hidden]="!player" class="video">
      <div [ngStyle]="video?.containerStyle">
        <video #videoPlayer [width]="video?.width" [height]="video?.height"></video>
      </div>
      <button ion-button end clear (click)="closeVideo()">
        <ion-icon name="close"></ion-icon>
        Close Video
      </button>
    </div>
  </div>

  <ion-list [virtualScroll]="list" approxItemHeight="100px">
    <ion-item *virtualItem="let item">
      <ion-thumbnail item-start [class.selected]="selector.isSelected(item)" (tap)="selector.toggleSelect(item)">
        <!--<ion-img [src]="mediaManager.getThumbnailUrl(item)" class="fit-thumbnail"></ion-img>-->
        <img [src]="mediaManager.getThumbnailUrl(item)" class="fit-thumbnail">
        <ion-icon *ngIf="selector.isSelected(item)" name="checkmark"></ion-icon>
      </ion-thumbnail>

      <div class="item-content">
        <h2>{{item.artist ? item.artist.name + ' - ' : ''}}{{item.album ? item.album.name +' - ' : ''}}{{item.name}}</h2>
        <!--<p *ngIf="item.description">{{item.description}}</p>-->
        <ion-buttons end>
          <button ion-button color="primary" small icon-left clear (click)="addToPlaylist(item)">
            <ion-icon name="list"></ion-icon>
            <span *ngIf="isLandscape()">Add to playlist</span>
          </button>
          <button *ngIf="mediaManager.hasVideo(item)" ion-button color="primary" small icon-left clear
                  (click)="playMedia(item)">
            <ion-icon name="videocam"></ion-icon>
            <span *ngIf="isLandscape()">Play video</span>
          </button>
          <button *ngIf="mediaManager.hasAudio(item)" ion-button color="primary" small icon-left clear
                  (click)="playMedia(item)">
            <ion-icon name="musical-notes"></ion-icon>
            <span *ngIf="isLandscape()">Play audio</span>
          </button>
        </ion-buttons>
        <!--<a [href]="'https://www.youtube.com/watch?v='+item.sid" target="_blank" title="preview">-->
        <!--<ion-icon name="search"></ion-icon>-->
        <!--</a>-->
      </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab right bottom *ngIf="selector.selected.length">
    <button ion-fab color="danger" (tap)="removeSelected()">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
