page-downloaded {
  .card {
    width: 192px;
    display: inline-block;
    .card-title {
      height: 50px;
      overflow: hidden;
      font-size: 120%;
    }
  }

  .fit-thumbnail {
    object-fit: cover;
  }
}

