album-page {
  .duration {
    font-size: 1.4rem;
    color: #888;
    position: relative;

    span {
      position: relative;
      z-index: 1;
    }
    //musical-spinner {
    //  position: absolute;
    //  top: 0; left: 50%;
    //  margin-left: -12px;
    //}
  }

  .cover {
    max-width: 25%;
    float: left;
  }

  ion-title {
    h2 { display: inline-block; vertical-align: middle; margin: 0;}
    .close-down {
      display: inline-block;
      cursor: pointer; padding: 5px 10px;
      vertical-align: middle;
    }
  }

  button {
    display: inline-block;
    vertical-align: middle;
  }
}
