<ion-header class="mode-color">
  <ion-navbar>
    <button ion-button menuToggle="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{album.name}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content #content class="mode-color">
  <div padding>
    <h2>
      <span *ngIf="album.artist">{{album.artist?.name}} |</span>
      {{album.name}}
    </h2>
    <!--<div class="cover">-->
      <!--<img [src]="mediaManager.getCoverUrl(album)">-->
    <!--</div>-->
    <p>
<!-- @todo album description -->
    </p>
  </div>
  <hr>
  <ion-list class="items" *ngIf="album">
    <ion-item *ngFor="let item of album.media" class="item-component"
              [class.played]="player.wasPlayed(item)"
              [class.current]="player.isCurrent(item)"
              (tap)="play(item)">
      <ion-label>
        <overscroll>
          <h2>
            {{item.name}}
          </h2>
          <p>
            <ion-icon name="contact" *ngIf="description"></ion-icon>
            {{description}}
          </p>
        </overscroll>
      </ion-label>

      <span item-end class="duration">
            <!--<ion-icon name="clock"></ion-icon>-->
        <span *ngIf="!player.isPlaying(item)">
            {{item.duration | duration}}
        </span>

        <musical-spinner *ngIf="player.isPlaying(item)" color="red"></musical-spinner>
      </span>

    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="play()" *ngIf="!isPlaying()">
      <ion-icon name="play"></ion-icon>
    </button>
    <button ion-fab (click)="pause()" *ngIf="isPlaying()">
      <ion-icon name="pause"></ion-icon>
    </button>
  </ion-fab>

</ion-content>