.item-component,
item-component {
  position: relative;

  ion-buttons {
    ion-icon {
      font-size: 150%;
    }
  }

}

.item-component.current ,
item-component.current {
  .label, h2 {
    color: #2a88bd;
  }
}

.item-component.played,
item-component.played {
  opacity: .3;
}

