// http://ionicframework.com/docs/theming/

// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
  background: black;
}

*:fullscreen, *:-webkit-full-screen, *:-moz-full-screen {
  background-color: black !important;
}

video { background-color: black !important; }

.button-primary {
  color: indianred;
}

.item-small {
  padding-left: 4px !important;
}

ion-icon sub {
  font-size: 66%;
  margin-left: -8px;
}

.fab.small {
  width: 38px;
  height: 38px;
  display: inline-block;
}

ion-buttons.fabs {
  margin-bottom: 6px;
}

ion-item {
  .thumbnail {
    height: 80px;
    width: 80px;
    max-width: 25%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      display: inline-block;
      vertical-align: middle;
      object-fit: cover;
    }

    .duration {
      position: absolute;
      color: white;
      text-shadow: 1px 1px 2px rgba(0,0,0,.7);
      //background: rgba(255,255,255, .5);
      right: 2px;
      bottom: 2px;
      font-size: 12px;
      padding: 2px 4px;
    }

    .playing {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(255,255,255, .5);
    }
    musical-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -10px;
      margin-left: -12px;
    }
  }
}

.menu-content {
  button {
    ion-icon {
      width: 24px;
    }
  }
}
//.fab {
//  ion-icon {
    //font-weight: bold;
    //font-size: 3rem;
  //}
//}

.mode-color {
  button.fab,
  .tabbar,
  .tabbar .badge,
  .toolbar-background
  {
    //transition: background-color ease-in-out 250ms;
  }

  .tabbar .badge {
    //transition: color ease-in-out 250ms;
  }
}

.item.clear {
  .item-inner {
    border-color: transparent !important;
  }
}
