page-home {
  ion-navbar {
    ion-buttons {
      ion-icon {
        font-size: 200%;
      }
    }
  }

  .played {
    opacity: .3;
  }

  .item-ios {
    h2 {
      font-size: 90%;
    }
  }

  ion-icon sub {
    font-size: 66%;
    margin-left: -6px;
  }

  .current {
    .label, h2 {
      color: #2a88bd;
    }
  }

  .fit-thumbnail {
    object-fit: cover;
  }

  .video {
    text-align: center;
  }

  ion-thumbnail {
    position: relative;
    ion-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      font-size: 200%;
      color: red;
      text-shadow: 2px 2px 5px #000;
      font-weight: bold;
      margin: -10px 0 0 -10px;
    }
  }
  ion-thumbnail.selected {
    opacity: .5;
  }

  .form-group {
    font-size: 150%;
    text-align: right;
    select {
      border: none;
      background: transparent;
      color: #488aff;
    }
  }

}

