<ion-header>
  <ion-navbar>
    <button ion-button menuToggle="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-item>
      <ion-label>
        Playlist
      </ion-label>
      <ion-select #playlistSelect [(ngModel)]="playlist" (ionChange)="onPlaylistChange($event)"
                  interface="popover">
        <ion-option *ngFor="let playlist of playlists" [value]="playlist">
          {{playlist.name}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-buttons end right>
      <button ion-button title="More options">
        <ion-icon name="more"></ion-icon>
      </button>
      <button ion-button title="Search" tcolor="primary" (click)="goToSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button title="LogOut" color="danger" (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--<pre>{{playlist|json}}</pre>-->
  <!--<pre>{{media|json}}</pre>-->
  <ion-list class="items">
    <ion-list-header>Items</ion-list-header>

    <ion-item *ngFor="let item of playedPlaylist" class="played">
      <ion-thumbnail item-start>
        <img [src]="getThumbnailUrl(item)" class="fit-thumbnail">
      </ion-thumbnail>
      <!--<span class="duration">{{item.duration | duration}}</span>-->
      <ion-label>{{item.name}}</ion-label>
      <button ion-button color="light" item-end (click)="playItem(item)">
        <ion-icon name="play"></ion-icon>
      </button>
    </ion-item>

    <ion-item *ngIf="current" class="current">
      <ion-thumbnail item-start>
        <img [src]="getThumbnailUrl(current)" class="fit-thumbnail">
      </ion-thumbnail>
      <!--<span class="duration">{{item.duration | duration}}</span>-->
      <ion-label>{{current.name}}</ion-label>
      <button ion-button color="primary" item-end>
        <ion-icon name="play"></ion-icon>
      </button>
    </ion-item>

    <ion-item *ngFor="let item of mediaPlaylist">
      <ion-thumbnail item-start>
        <img [src]="getThumbnailUrl(item)" class="fit-thumbnail">
      </ion-thumbnail>
      <!--<span class="duration">{{item.duration | duration}}</span>-->
      <ion-label>{{item.name}}</ion-label>
      <button ion-button color="light" item-end (click)="playItem(item)">
        <ion-icon name="play"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <audio #audioPlayer preload="none"></audio>
          <ion-item>
            <ion-range [(ngModel)]="currentTime" color="danger" [min]="0" [max]="totalTime"
                       [debounce]="500"
                       (ionFocus)="onSliderFocus($event)"
                       (ionBlur)="onSliderBlur($event)"
                       (ionChange)="onSliderChange($event)">
              <ion-label range-left>{{currentTime | duration}}</ion-label>
              <ion-label range-right>{{totalTime | duration}}</ion-label>
            </ion-range>
          </ion-item>
        </ion-col>
        <ion-col>
          <div class="buttons">
            <span class="title">{{current?.name}}</span>
            <button ion-button (click)="playVideo()" title="Play Video" [color]="colors.video">
              <ion-icon name="videocam"></ion-icon>
            </button>
            <button ion-button (click)="playAudio()" title="Play Audio only" [color]="colors.audio">
              <ion-icon name="musical-notes"></ion-icon>
            </button>
            <button [disabled]="!playerStatus.playing || !playedPlaylist.length" ion-button (click)="playPrev()" title="Play previous" [color]="colors.prev">
              <ion-icon name="skip-backward"></ion-icon>
            </button>
            <button ion-button (click)="togglePlay()" title="Play / Pause" [color]="colors.play">
              <ion-icon [name]="playIcon"></ion-icon>
            </button>
            <!--<button ion-button>-->
            <!--<ion-icon name="pause"></ion-icon>-->
            <!--</button>-->
            <button [disabled]="!playerStatus.playing || !mediaPlaylist.length" ion-button (click)="playNext()" title="Play next" [color]="colors.next">
              <ion-icon name="skip-forward"></ion-icon>
            </button>
            <button ion-button (click)="toggleShuffle()" title="Toggle Shuffle" [color]="colors.shuffle">
              <ion-icon name="shuffle"></ion-icon>
            </button>
            <button ion-button (click)="toggleRepeat()" title="Toggle Repeat" [color]="colors.repeat">
              <ion-icon name="repeat"></ion-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
