page-home {
  ion-navbar  {
    ion-buttons {
      ion-icon { font-size: 200%; }
    }
  }

  .played {
    opacity: .3;
  }

  .current {
    .label { color: #2a88bd; }
  }

  .fit-thumbnail {
    object-fit: cover;
  }


}

