<ion-header class="mode-color">
  <ion-navbar>
    <button ion-button menuToggle="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <playlists-combo (selected)="onPlaylistChange($event)" [playlist]="playlist" [playlists]="plManager.playlists" [user]="user"></playlists-combo>
    <!--<ion-item>-->
    <!--<ion-select #playlistSelect [(ngModel)]="playlist" (ionChange)="onPlaylistChange($event)"-->
    <!--interface="action-sheet">-->
    <!--<ion-option *ngFor="let playlist of playlists" [value]="playlist">-->
    <!--{{playlist.name}}-->
    <!--</ion-option>-->
    <!--</ion-select>-->
    <!--</ion-item>-->
    <ion-buttons end>
      <button ion-button title="More options" class="primary-button" (click)="playlistTools = !playlistTools">
        <ion-icon name="more"></ion-icon>
      </button>

      <button ion-button title="Search" class="primary-button" (click)="goToSearchPage()">
        <ion-icon name="search"></ion-icon>
      </button>
      <!--<button ion-button title="Settings" color="default" (click)="goToSettingsPage()">-->
      <!--<ion-icon name="settings"></ion-icon>-->
      <!--</button>-->
      <!--<button ion-button title="LogOut" color="danger" (click)="logout()">-->
      <!--<ion-icon name="log-out"></ion-icon>-->
      <!--</button>-->
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar *ngIf="playlistTools">
    <div class="flex">
      <ion-col align-self-start>
        <button ion-button icon-left clear class="button-primary" (click)="onPlaylistAddClick($event)">
          <ion-icon name="add-circle"></ion-icon>
          Add new
        </button>

        <button [disabled]="!media.length" class="button-primary" ion-button icon-left clear
                (click)="selector.toggleSelectAll(media)">
          <ion-icon [name]="selector.selected.length ? 'close-circle': 'checkmark-circle'"></ion-icon>
          {{selector.selected.length ? 'Unselect' : 'Select All'}}
        </button>
      </ion-col>
      <ion-col class="text-right" align-self-end>
        <button ion-button icon-left clear class="remove-button" (click)="removePlaylist(playlist)">
          <ion-icon name="trash"></ion-icon>
          Remove Playlist
        </button>

        <button ion-button clear class="primary-button" (click)="playlistTools = false">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-col>
    </div>
  </ion-toolbar>

</ion-header>

<ion-content #content>

  <div ion-fixed [hidden]="playerStatus.audio || !current"
       class="video" style="width: 100%;">
    <div [ngStyle]="video.containerStyle">
      <video #videoPlayer [width]="video.width" [height]="video.height"></video>
    </div>
  </div>

  <ion-list class="items">
    <ion-item *ngFor="let item of playedPlaylist" class="played" (press)="selector.toggleSelect(item)"
              (swipe)="onItemSwipe(item, $event)">
      <ion-thumbnail item-start [class.selected]="selector.isSelected(item)" (tap)="selector.toggleSelect(item)">
        <img [src]="mediaManager.getThumbnailUrl(item)" class="fit-thumbnail">
        <ion-icon *ngIf="selector.isSelected(item)" name="checkmark"></ion-icon>
      </ion-thumbnail>
      <!--<span class="duration">{{item.duration | duration}}</span>-->
      <div class="item-content">
        <h2>{{item.name}}</h2>
        <ion-buttons end>
          <button ion-button color="dark" clear (click)="playItemFirst(item)">
            <ion-icon name="play">
              <sub>1</sub>
            </ion-icon>
          </button>
          <button ion-button color="dark" clear (click)="playItem(item)">
            <ion-icon name="play"></ion-icon>
          </button>
        </ion-buttons>
      </div>
    </ion-item>

    <ion-item *ngIf="current" class="current" (press)="selector.toggleSelect(current)"
              (swipe)="onItemSwipe(current, $event)">
      <ion-thumbnail item-start [class.selected]="selector.isSelected(current)" (tap)="selector.toggleSelect(current)">
        <img [src]="mediaManager.getThumbnailUrl(current)" class="fit-thumbnail">
        <ion-icon *ngIf="selector.isSelected(current)" name="checkmark"></ion-icon>
      </ion-thumbnail>
      <!--<span class="duration">{{item.duration | duration}}</span>-->
      <div class="item-content">
        <h2>{{current.name}}</h2>
        <ion-buttons end>
          <button ion-button clear>
            <ion-spinner name="dots" color="#2a88bd"></ion-spinner>
          </button>
        </ion-buttons>
      </div>
    </ion-item>

    <ion-item *ngFor="let item of mediaPlaylist" (press)="selector.toggleSelect(item)" (swipe)="onItemSwipe(item, $event)">
      <ion-thumbnail item-start [class.selected]="selector.isSelected(item)" (tap)="selector.toggleSelect(item)">
        <img [src]="mediaManager.getThumbnailUrl(item)" class="fit-thumbnail">
        <ion-icon *ngIf="selector.isSelected(item)" name="checkmark"></ion-icon>
      </ion-thumbnail>
      <!--<span class="duration">{{item.duration | duration}}</span>-->
      <div class="item-content">
        <h2>{{item.name}}</h2>
        <ion-buttons end>
          <button ion-button color="dark" clear (click)="playItemFirst(item)">
            <ion-icon name="play">
              <sub>1</sub>
            </ion-icon>
          </button>
          <button ion-button color="dark" clear (click)="playItem(item)">
            <ion-icon name="play"></ion-icon>
          </button>
        </ion-buttons>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab right bottom *ngIf="selector.selected.length">
    <button ion-fab color="danger" (tap)="removeSelected()">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<!--<ion-footer>-->
<!--<ion-toolbar>-->
<!--<audio #audioPlayer preload="none"></audio>-->
<!--<ion-item>-->
<!--<ion-range small [(ngModel)]="currentTime" color="danger" [min]="0" [max]="totalTime"-->
<!--[debounce]="500"-->
<!--(ionFocus)="onSliderFocus($event)"-->
<!--(ionBlur)="onSliderBlur($event)"-->
<!--(ionChange)="onSliderChange($event)">-->
<!--<ion-label range-left>{{currentTime | duration}}</ion-label>-->
<!--<ion-label range-right>{{totalTime | duration}}</ion-label>-->
<!--</ion-range>-->
<!--<ion-buttons item-end>-->
<!--<button ion-button clear small (click)="playVideo()" title="Play Video" [color]="colors.video">-->
<!--<ion-icon name="videocam"></ion-icon>-->
<!--</button>-->
<!--<button ion-button clear small (click)="playAudio()" title="Play Audio only" [color]="colors.audio">-->
<!--<ion-icon name="musical-notes"></ion-icon>-->
<!--</button>-->
<!--<button [disabled]="!playerStatus.playing || !playedPlaylist.length" ion-button clear small-->
<!--(click)="playPrev()"-->
<!--title="Play previous" [color]="colors.prev">-->
<!--<ion-icon name="skip-backward"></ion-icon>-->
<!--</button>-->
<!--<button ion-button (click)="togglePlay()" clear small title="Play / Pause" [color]="colors.play">-->
<!--<ion-icon [name]="playIcon"></ion-icon>-->
<!--</button>-->
<!--<button [disabled]="!playerStatus.playing || !mediaPlaylist.length" ion-button clear small-->
<!--(click)="playNext()"-->
<!--title="Play next" [color]="colors.next">-->
<!--<ion-icon name="skip-forward"></ion-icon>-->
<!--</button>-->
<!--<button ion-button (click)="toggleShuffle()" clear small title="Toggle Shuffle" [color]="colors.shuffle">-->
<!--<ion-icon name="shuffle"></ion-icon>-->
<!--</button>-->
<!--<button ion-button (click)="toggleRepeat()" clear small title="Toggle Repeat" [color]="colors.repeat">-->
<!--<ion-icon name="repeat"></ion-icon>-->
<!--</button>-->
<!--</ion-buttons>-->
<!--</ion-item>-->
<!--</ion-toolbar>-->
<!--</ion-footer>-->

<ion-footer class="mode-color">
  <ion-toolbar class="footer-toolbar">
    <!-- <audio #audioPlayer preload="none"></audio> -->
    <ion-range [(ngModel)]="currentTime" [min]="0" [max]="totalTime"
               [debounce]="500"
               [disabled]="!this.current"
               (ionFocus)="onSliderFocus($event)"
               (ionBlur)="onSliderBlur($event)"
               (ionChange)="onSliderChange($event)">
      <ion-label range-left>{{currentTime | duration}}</ion-label>
      <ion-label range-right>{{totalTime | duration}}</ion-label>
    </ion-range>
    <div>
      <!--<h2 class="title">{{current?.name}}</h2>-->
      <ion-buttons end>
        <button ion-button clear small (click)="playVideo()" title="Play Video"
                [class.button-primary]="playerStatus.video">
          <ion-icon name="videocam"></ion-icon>
        </button>
        <button ion-button clear small (click)="playAudio()" title="Play Audio only"
                [class.button-primary]="playerStatus.audio">
          <ion-icon name="musical-notes"></ion-icon>
        </button>
        <button [disabled]="!playerStatus.playing || !playedPlaylist.length" ion-button clear small
                (click)="playPrev()"
                title="Play previous">
          <ion-icon name="skip-backward"></ion-icon>
        </button>
        <button ion-button (click)="togglePlay()" clear small title="Play / Pause"
                [class.button-primary]="playerStatus.playing">
          <ion-icon [name]="playIcon"></ion-icon>
        </button>
        <button [disabled]="!playerStatus.playing || !mediaPlaylist.length" ion-button clear small
                (click)="playNext()"
                title="Play next">
          <ion-icon name="skip-forward"></ion-icon>
        </button>
        <button ion-button (click)="toggleShuffle()" clear small title="Toggle Shuffle"
                [class.button-primary]="playerStatus.shuffle">
          <ion-icon name="shuffle"></ion-icon>
        </button>
        <button ion-button (click)="toggleRepeat()" clear small title="Toggle Repeat"
                [class.button-primary]="playerStatus.repeat">
          <ion-icon name="repeat"></ion-icon>
        </button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-footer>
