page-home {
  ion-navbar {
    ion-buttons {
      ion-icon {
        font-size: 200%;
      }
    }
  }

  .item-ios {
    h2 {
      font-size: 90%;
    }
  }

  ion-icon sub {
    font-size: 66%;
    margin-left: -6px;
  }

  .fit-thumbnail {
    object-fit: cover;
  }

  .video {
    text-align: center;
  }



  ion-toolbar {
    div.flex {
      display: flex;
      width: 100%;
    }

    .text-right {
      text-align: right;
    }
  }

}

