page-cloud {
  ion-navbar {
    ion-buttons {
      ion-icon {
        font-size: 200%;
      }
    }
  }

  ion-buttons {
    ion-icon {
      font-size: 200%;
    }
  }

  video {
    max-width: 100%;
  }

  .form-group {
    font-size: 150%;
    float: right;
    text-align: right;
    select {
      border: none;
      background: transparent;
      color: #488aff;
    }
  }

  ion-title {
    float: left;
  }

  .thumbnail {
    max-width: 25%;
  }

  .video {
    position: relative;
    text-align: center;

    button {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  .list-item { width: 100%; }
}

