<ion-header class="mode-color">
  <ion-navbar>
    <button ion-button menuToggle="menu" *ngIf="!playlist">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title left>{{title}}</ion-title>

    <ion-buttons end>
      <button *ngIf="download" ion-button clear icon-only (click)="toDownload()">
        <ion-icon name="cloud-download" color="primary"></ion-icon>
      </button>
      <button ion-button (click)="dismiss()" clear *ngIf="playlist">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content class="mode-color">
  <ion-list [virtualScroll]="list" approxItemHeight="100px">

    <ion-item-sliding *virtualItem="let item">
      <ion-item *ngIf="item" class="item-component item-small">
        <div class="thumbnail" item-start (click)="player.togglePlayItem(item)">
          <img [src]="mediaManager.getThumbnailUrl(item)" class="fit-thumbnail">
          <span class="duration">{{item.duration | duration}}</span>
          <div class="playing" *ngIf="player.isCurrent(item)">
            <musical-spinner *ngIf="player.status.playing" color="red"></musical-spinner>
          </div>
        </div>
        <ion-label (click)="player.togglePlayItem(item)">
          <h2>{{item.name}}</h2>
          <p>
            <ion-icon name="person"></ion-icon>
            {{item.artist?.name}}
            <br>
            <ion-icon name="disc"></ion-icon>
            {{item.album?.name}}
            {{description}}
          </p>
        </ion-label>
        <ion-buttons item-end>
          <button ion-fab *ngIf="playlist && !plManager.inPlaylist(item, playlist)" color="secondary" class="small"
                  (click)="plManager.addToPlaylist(item, playlist)">
            <ion-icon name="add"></ion-icon>
          </button>
          <button ion-fab *ngIf="!playlist && !player.isCurrent(item)" color="primary" class="small"
                  (click)="player.playItem(item)">
            <ion-icon name="play"></ion-icon>
          </button>
        </ion-buttons>

      </ion-item>
      <ion-item-options side="right">
        <button *ngIf="mediaManager.canDelete(item)" ion-button color="danger" (click)="removeItem(item)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>

    </ion-item-sliding>


    <!--<div *virtualItem="let item" class="list-item">-->
      <!--<medium-component [item]="item"-->
                        <!--[selected]="selector.isSelected(item)"-->
                        <!--(select)="selector.toggleSelect(item)"-->
                        <!--(toPlaylist)="addToPlaylist(item)"-->
                        <!--[hasPlaylist]="playlist"-->
                        <!--[hasVideo]="mediaManager.hasVideo(item)"-->
                        <!--[hasAudio]="mediaManager.hasAudio(item)"-->
                        <!--[thumbnail]="mediaManager.getThumbnailUrl(item)"-->
                        <!--[landscape]="platform.isLandscape()"-->
                        <!--(playVideo)="playVideo(item)"-->
                        <!--(playAudio)="playAudio(item)">-->
      <!--</medium-component>-->
    <!--</div>-->

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab right bottom *ngIf="selector.selected.length">
    <button ion-fab color="danger" (click)="removeSelected()">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<ion-footer class="mode-color">
  <ion-toolbar>
    <ion-item class="clear">
      <ion-icon item-start name="search"></ion-icon>
      <ion-input icon-left type="text" placeholder="search" [(ngModel)]="search" (ionChange)="filter()">
      </ion-input>
      <button item-end ion-button clear *ngIf="search" (click)="search=''">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-footer>