<ion-header class="mode-color">
  <ion-navbar>
    <button ion-button menuToggle="menu" *ngIf="!playlist">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title left>{{title}}</ion-title>

    <ion-buttons end>
      <button *ngIf="download" ion-button clear icon-only (tap)="toDownload()">
        <ion-icon name="cloud-download" color="primary"></ion-icon>
      </button>
      <button ion-button (tap)="dismiss()" clear *ngIf="playlist">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content class="mode-color">
  <ion-list [virtualScroll]="list" approxItemHeight="100px">
    <div *virtualItem="let item" class="list-item">
      <medium-component [item]="item"
                        [selected]="selector.isSelected(item)"
                        (select)="selector.toggleSelect(item)"
                        (toPlaylist)="addToPlaylist(item)"
                        [hasPlaylist]="playlist"
                        [hasVideo]="mediaManager.hasVideo(item)"
                        [hasAudio]="mediaManager.hasAudio(item)"
                        [thumbnail]="mediaManager.getThumbnailUrl(item)"
                        [landscape]="platform.isLandscape()"
                        (playVideo)="playVideo(item)"
                        (playAudio)="playAudio(item)">
      </medium-component>
    </div>
    <!--<ion-item *virtualItem="let item">-->
      <!--<ion-thumbnail item-start [class.selected]="selector.isSelected(item)" (tap)="selector.toggleSelect(item)">-->
        <!--&lt;!&ndash;<ion-img [src]="mediaManager.getThumbnailUrl(item)" class="fit-thumbnail"></ion-img>&ndash;&gt;-->
        <!--<img [src]="mediaManager.getThumbnailUrl(item)" class="fit-thumbnail">-->
        <!--<ion-icon *ngIf="selector.isSelected(item)" name="checkmark"></ion-icon>-->
      <!--</ion-thumbnail>-->

      <!--<div class="item-content">-->
        <!--<div *ngIf="item.artist" class="artist">-->
          <!--<ion-icon name="person"></ion-icon>-->
          <!--{{item.artist.name}}-->
        <!--</div>-->
        <!--<div *ngIf="item.album" class="album">-->
          <!--<ion-icon name="disc"></ion-icon>-->
          <!--{{item.album.name}}-->
        <!--</div>-->


        <!--<h2>{{item.name}}</h2>-->
        <!--&lt;!&ndash;<p *ngIf="item.description">{{item.description}}</p>&ndash;&gt;-->
        <!--<ion-buttons end>-->
          <!--<button ion-button color="primary" small icon-left clear (click)="addToPlaylist(item)">-->
            <!--<ion-icon name="list"></ion-icon>-->
            <!--<span *ngIf="isLandscape()">Add to playlist</span>-->
          <!--</button>-->
          <!--<button *ngIf="mediaManager.hasVideo(item)" ion-button color="primary" small icon-left clear-->
                  <!--(click)="playMedia(item)">-->
            <!--<ion-icon name="videocam"></ion-icon>-->
            <!--<span *ngIf="isLandscape()">Play video</span>-->
          <!--</button>-->
          <!--<button *ngIf="mediaManager.hasAudio(item)" ion-button color="primary" small icon-left clear-->
                  <!--(click)="playMedia(item)">-->
            <!--<ion-icon name="musical-notes"></ion-icon>-->
            <!--<span *ngIf="isLandscape()">Play audio</span>-->
          <!--</button>-->
        <!--</ion-buttons>-->
        <!--&lt;!&ndash;<a [href]="'https://www.youtube.com/watch?v='+item.sid" target="_blank" title="preview">&ndash;&gt;-->
        <!--&lt;!&ndash;<ion-icon name="search"></ion-icon>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
      <!--</div>-->
    <!--</ion-item>-->
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab right bottom *ngIf="selector.selected.length">
    <button ion-fab color="danger" (tap)="removeSelected()">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-fab>
</ion-content>

<ion-footer class="mode-color">
  <ion-toolbar>
    <ion-item class="clear">
      <ion-icon item-start name="search"></ion-icon>
      <ion-input icon-left type="text" placeholder="search" [(ngModel)]="search" (ionChange)="filter()">
      </ion-input>
      <button item-end ion-button clear *ngIf="search" (click)="search=''">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-item>
  </ion-toolbar>
</ion-footer>