<svg width="24" height="16">
  <rect x="0" y="0" width="2" height="5" [ngStyle]="rectStyle">
    <animate
      attributeName="height"
      from="0"
      to="16"
      values="10;4;10"
      dur="500ms"
      repeatCount="indefinite"
    />
    <animate
      attributeName="y"
      from="0"
      to="8"
      values="3;6;3"
      dur="500ms"
      repeatCount="indefinite"
    />
  </rect>

  <rect x="3" y="0" width="2" height="3" [ngStyle]="rectStyle">
    <animate
      attributeName="height"
      from="0"
      to="16"
      values="14;2;14"
      dur="500ms"
      repeatCount="indefinite"
    />
    <animate
      attributeName="y"
      from="0"
      to="8"
      values="1;7;1"
      dur="500ms"
      repeatCount="indefinite"
    />
  </rect>

  <rect x="6" y="0" width="2" height="1" [ngStyle]="rectStyle">
    <animate
      attributeName="height"
      from="0"
      to="16"
      values="12;4;12"
      dur="500ms"
      repeatCount="indefinite"
    />
    <animate
      attributeName="y"
      from="0"
      to="8"
      values="2;6;2"
      dur="500ms"
      repeatCount="indefinite"
    />
  </rect>

  <rect x="9" y="0" width="2" height="4" [ngStyle]="rectStyle">
    <animate
      attributeName="height"
      from="0"
      to="16"
      values="8;12;0;8"
      dur="500ms"
      repeatCount="indefinite"
    />
    <animate
      attributeName="y"
      from="0"
      to="8"
      values="4;2;8;4"
      dur="500ms"
      repeatCount="indefinite"
    />
  </rect>

  <rect x="12" y="0" width="2" height="7" [ngStyle]="rectStyle">
    <animate
      attributeName="height"
      from="0"
      to="16"
      values="4;12;0;4"
      dur="500ms"
      repeatCount="indefinite"
    />
    <animate
      attributeName="y"
      from="0"
      to="8"
      values="6;2;8;6"
      dur="500ms"
      repeatCount="indefinite"
    />
  </rect>

  <rect x="15" y="0" width="2" height="7" [ngStyle]="rectStyle">
    <animate
      attributeName="height"
      from="0"
      to="16"
      values="0;12;4;0"
      dur="500ms"
      repeatCount="indefinite"
    />
    <animate
      attributeName="y"
      from="0"
      to="8"
      values="8;2;6;8"
      dur="500ms"
      repeatCount="indefinite"
    />
  </rect>

  <rect x="18" y="0" width="2" height="7" [ngStyle]="rectStyle">
    <animate
      attributeName="height"
      from="0"
      to="16"
      values="2;12;2"
      dur="500ms"
      repeatCount="indefinite"
    />
    <animate
      attributeName="y"
      from="0"
      to="8"
      values="7;2;7"
      dur="500ms"
      repeatCount="indefinite"
    />
  </rect>

  <rect x="21" y="0" width="2" height="7" [ngStyle]="rectStyle">
    <animate
      attributeName="height"
      from="0"
      to="16"
      values="0;4;0"
      dur="500ms"
      repeatCount="indefinite"
    />
    <animate
      attributeName="y"
      from="0"
      to="8"
      values="8;6;8"
      dur="500ms"
      repeatCount="indefinite"
    />
  </rect>

</svg>