<ion-header #header class="mode-color">
  <ion-navbar (tap)="toggleShow()">
    <!--<button ion-button menuToggle="menu">-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <ion-title>
      <div class="close-down" clear>
        <ion-icon [name]="arrowIcon"></ion-icon>
      </div>
      <h2 style="display: inline-block; vertical-align: middle">
        {{playlist?.name}}
        <span *ngIf="playlist && player.medium && playlist.media.indexOf(player.medium) != -1">
        |
          {{player?.medium?.name}}

          <musical-spinner *ngIf="player.status.playing" color="red"></musical-spinner>
        </span>
      </h2>
    </ion-title>
    <ion-buttons end>
      <button ion-button clear (tap)="plManager.toggleSelectPlaylist(playlist)">
        <ion-icon name="close"></ion-icon>
      </button>
      <!--<span class="duration">-->
        <!--<ion-icon name="time"></ion-icon>-->
        <!--{{playlist?.duration | duration}}-->
      <!--</span>-->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content class="mode-color">
  <ion-list class="items" *ngIf="playlist" [reorder]="true" (ionItemReorder)="player.reorderData($event)">
    <ion-item-sliding *ngFor="let item of player.mediaList">
      <ion-item *ngIf="item" class="item-component"
                [class.played]="player.wasPlayed(item)"
                [class.current]="player.isCurrent(item)"
                (press)="selector.toggleSelect(item)">

        <checker item-left
                 [visible]="selector.length"
                 [selected]="selector.isSelected(item)"
                 (tap)="selector.toggleSelect(item)"></checker>

        <div class="thumbnail" item-start [class.selected]="selector.isSelected(item)" (tap)="selector.toggleSelect(item)">
          <img [src]="mediaManager.getThumbnailUrl(item)" class="fit-thumbnail">
          <span class="duration">{{item.duration | duration}}</span>
        </div>
        <div class="item-content">
          <h2>{{item.name}}</h2>
          <p>
            <ion-icon name="contact" *ngIf="description"></ion-icon>
            {{description}}
          </p>
        </div>
        <ion-buttons end *ngIf="player.isCurrent(item)">
          <button ion-button clear>
            <musical-spinner *ngIf="player.status.playing" color="red"></musical-spinner>
          </button>
        </ion-buttons>
        <ion-buttons end *ngIf="!player.isCurrent(item)">
          <button ion-button color="primary" clear (click)="player.playFirst(item)">
            <ion-icon name="play">
              <sub>1</sub>
            </ion-icon>
          </button>
          <button ion-button color="primary" clear (click)="player.playItem(item)">
            <ion-icon name="play"></ion-icon>
          </button>
        </ion-buttons>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeItem(item)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    <!--<item-component *ngFor="let item of playlist.media"-->
                    <!--[item]="item"-->
                    <!--[selected]="selector.isSelected(item)"-->
                    <!--(select)="selector.toggleSelect(item)"-->
                    <!--[thumbnail]="mediaManager.getThumbnailUrl(item)"-->
                    <!--(swipe)="onItemSwipe(item, $event)" (play)="playItem(item)" (playFirst)="playItemFirst(item)">-->
    <!--</item-component>-->
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom *ngIf="selector.length">
    <button ion-fab color="danger" (tap)="removeSelected()">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab right bottom *ngIf="!selector.length">
    <button ion-fab color="secondary">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab (tap)="open('all')">
        A
      </button>
      <button ion-fab (tap)="open('library')">
        <ion-icon name="list"></ion-icon>
      </button>
      <button ion-fab (tap)="open('youtube')">
        <ion-icon name="logo-youtube"></ion-icon>
      </button>
    </ion-fab-list>
  </ion-fab>

</ion-content>
