<ion-header #header class="mode-color">
  <ion-navbar (click)="toggleShow()">
    <!--<button ion-button menuToggle="menu">-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <ion-title>
      <div class="close-down" clear>
        <ion-icon [name]="arrowIcon"></ion-icon>
      </div>
      <!--<h2>-->
        <overscroll [decide]="player.medium">
          {{playlist?.name}}
          <span *ngIf="playlist && player.medium && playlist.media.indexOf(player.medium) != -1">
          |
            <!--<musical-spinner *ngIf="player.status.playing" color="red"></musical-spinner>-->
            {{player?.medium?.name}}
          </span>
        </overscroll>
      <!--</h2>-->
    </ion-title>
    <ion-buttons end>
      <button ion-button clear (click)="plManager.toggleSelectPlaylist(playlist)">
        <ion-icon name="close"></ion-icon>
      </button>
      <!--<span class="duration">-->
        <!--<ion-icon name="time"></ion-icon>-->
        <!--{{playlist?.duration | duration}}-->
      <!--</span>-->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #content class="mode-color">
  <ion-list class="items" *ngIf="playlist" [reorder]="true" (ionItemReorder)="player.reorderData($event)">
    <ion-item-sliding *ngFor="let item of player.mediaList">
      <ion-item *ngIf="item" class="item-component item-small"
                [class.played]="player.wasPlayed(item)"
                [class.current]="player.isCurrent(item)">

        <div class="thumbnail" item-start>
          <img [src]="mediaManager.getThumbnailUrl(item)" class="fit-thumbnail">
          <span class="duration">{{item.duration | duration}}</span>
          <div class="playing" *ngIf="player.isCurrent(item)">
            <musical-spinner *ngIf="player.status.playing" color="red"></musical-spinner>
          </div>
        </div>
        <ion-label (click)="player.playItem(item)">
          <h2>{{item.name}}</h2>
          <p *ngIf="item.artist">
            <u>{{item.artist.name}}</u>
            <i *ngIf="item.album">
              <ion-icon name="disc"></ion-icon>
              {{item.album.name}}
            </i>
          </p>
          <p>
            <ion-icon name="contact" *ngIf="description"></ion-icon>
            {{description}}
          </p>
          <!--<ion-buttons end *ngIf="!player.isCurrent(item)" class="fabs">-->
            <!--<button ion-fab color="primary" class="small" (click)="player.playFirst(item)">-->
              <!--<ion-icon name="play">-->
                <!--<sub>1</sub>-->
              <!--</ion-icon>-->
            <!--</button>-->
            <!--<button ion-fab color="primary" class="small" (click)="player.playItem(item)">-->
              <!--<ion-icon name="play"></ion-icon>-->
            <!--</button>-->
          <!--</ion-buttons>-->
        </ion-label>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeItem(item)">
          <ion-icon name="trash"></ion-icon>
          Delete
        </button>
      </ion-item-options>
    <!--<item-component *ngFor="let item of playlist.media"-->
                    <!--[item]="item"-->
                    <!--[selected]="selector.isSelected(item)"-->
                    <!--(select)="selector.toggleSelect(item)"-->
                    <!--[thumbnail]="mediaManager.getThumbnailUrl(item)"-->
                    <!--(swipe)="onItemSwipe(item, $event)" (play)="playItem(item)" (playFirst)="playItemFirst(item)">-->
    <!--</item-component>-->
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom *ngIf="selector.length">
    <button ion-fab color="danger" (click)="removeSelected()">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab right bottom *ngIf="!selector.length">
    <button ion-fab color="secondary">
      <ion-icon name="add"></ion-icon>
    </button>
    <ion-fab-list side="left">
      <button ion-fab *ngIf="providers.length > 1" (click)="open('all')">
        A
      </button>
      <button ion-fab *ngFor="let provider of providers" (click)="open(provider.slug, provider)">
        <ion-icon [name]="provider.ionic.menuIcon"></ion-icon>
      </button>
      <!--<button ion-fab (click)="open('library')">-->
        <!--<ion-icon name="list"></ion-icon>-->
      <!--</button>-->
      <!--<button ion-fab (click)="open('youtube')">-->
        <!--<ion-icon name="logo-youtube"></ion-icon>-->
      <!--</button>-->
    </ion-fab-list>
  </ion-fab>

</ion-content>
