<ion-item class="clear">
  <ion-label item-right>Server</ion-label>
  <!--<simple-select item-right [(ngModel)]="server" [options]="serverOptions" (change)="onServerChange($event)"></simple-select>-->
  <ion-select [(ngModel)]="host" (ionChange)="server.next(host)" interface="pop-over">
    <ion-option *ngFor="let host of servers" [value]="host">{{host.split('.')[0]}}</ion-option>
  </ion-select>
  <ion-icon ion-text name="cloud" item-end
            [class.connected]="serverManager.isConnected(host)"></ion-icon>
</ion-item>
