page-search {
  ion-navbar {
    ion-buttons {
      ion-icon {
        font-size: 200%;
      }
    }
  }

  .fit-thumbnail {
    object-fit: cover;
  }

  .thumbnail {
    position: relative;
    width: 160px;
    max-width: 30%;
    img {
      width: 100%;
    }

    .duration {
      position: absolute;
      z-index: 1;
      float: right;
      background: #000;
      background: rgba(0, 0, 0, .7);
      border-radius: 3px;
      color: #fff;
      font-size: 90%;
      padding: 2px 4px;
      bottom: 5px;
      right: 5px;
    }
  }

  .search {
    input[type=search] {
      width: 50%;
      border: 0;
      background: none;
      font-size: 150%;
    }
  }
}

