<ion-header class="mode-color">
  <ion-navbar (click)="toggleShow()">
    <button ion-button menuToggle="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="mode-color">
  <h2 padding>{{title}}</h2>
  <ion-list class="items">
    <ion-item *ngFor="let item of media" class="item-component"
              [class.played]="player.wasPlayed(item)"
              [class.current]="player.isCurrent(item)">
      <ion-label (click)="player.togglePlayItem(item)">
        <div *ngIf="!compact">
          <u>{{item.artist.name}}</u>
          <span *ngIf="item.album">
            <ion-icon name="disc"></ion-icon>
            <i>{{item.album.name}}</i>
          </span>
        </div>
        <h2>
          {{item.name}}
        </h2>
        <p>
          <ion-icon name="contact" *ngIf="description"></ion-icon>
          {{description}}
        </p>
      </ion-label>

      <span item-end class="duration">
        <span *ngIf="!player.isPlaying(item)">
            {{item.duration | duration}}
        </span>

        <musical-spinner *ngIf="player.isPlaying(item)" color="red"></musical-spinner>

        <button ion-fab *ngIf="playlist && !plManager.inPlaylist(item, playlist)" color="secondary" class="small"
                (click)="plManager.addToPlaylist(item, playlist)">
          <ion-icon name="add"></ion-icon>
        </button>

      </span>

    </ion-item>
  </ion-list>

  <ion-fab right bottom *ngIf="!playlist">
    <button ion-fab (click)="player.togglePlayItem()" *ngIf="!player.isPlaying()">
      <ion-icon name="play"></ion-icon>
    </button>
    <button ion-fab (click)="player.pause()" *ngIf="player.isPlaying()">
      <ion-icon name="pause"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
