<ion-header class="mode-color">
  <ion-navbar (tap)="toggleShow()">
    <button ion-button menuToggle="menu">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      {{title}}
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="mode-color">
  <h2 padding>{{title}}</h2>
  <ion-list class="items">
    <ion-item *ngFor="let item of media" class="item-component"
              [class.played]="player.wasPlayed(item)"
              [class.current]="player.isCurrent(item)"
              (tap)="play(item)">
      <ion-label>
        <h2>
          <span *ngIf="!compact">
            <span *ngIf="item.artist"><u>{{item.artist.name}}</u> <br> </span>
            <span *ngIf="item.album"><i>{{item.album.name}}</i> <br> </span>
          </span>
          {{item.name}}
        </h2>
        <p>
          <ion-icon name="contact" *ngIf="description"></ion-icon>
          {{description}}
        </p>
      </ion-label>

      <span item-end class="duration">
        <span *ngIf="!player.isPlaying(item)">
            {{item.duration | duration}}
        </span>

        <musical-spinner *ngIf="player.isPlaying(item)" color="red"></musical-spinner>
      </span>

    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="play()" *ngIf="!isPlaying()">
      <ion-icon name="play"></ion-icon>
    </button>
    <button ion-fab (click)="pause()" *ngIf="isPlaying()">
      <ion-icon name="pause"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
