$color: #eee;
$knobColor: #ffd000;
$primaryButton: #ffd000;
$removeButton: #bd1900;
$dayModeIconColor: $knobColor;
$bgColor: #ff6600;

.day-mode {

  .mode-color {

    .tabbar {
      background-color: $bgColor !important;

      .badge {
        background-color: $knobColor !important;
        opacity: .7;
        color: $bgColor;
      }
    }

    ion-header {
      .toolbar {
        .text-input { color: $color; }
      }
    }

    ion-menu {
      .item {
        background: transparent !important;
      }
    }

    .toolbar-background {
      border-color: #cc4400 !important;
      background: #ff6600 !important;
    }

    .toolbar {
      color: $color !important;
      .toolbar-title,
      button,
      ion-icon,
      ion-select,
      ion-label {
        color: $color !important;
      }

      ion-segment-button {
        &.segment-activated {
          border-color: $knobColor !important;
        }
        color: $knobColor;
        ion-icon {
          color: $knobColor !important;
        }
      }

      input {
        color: $color;
      }

      ion-icon.connected {
        color: greenyellow !important;
      }

      .remove-button {
        color: $removeButton !important;
        ion-icon {
          color: $removeButton !important;
        }
      }

      .day-mode-icon {
        color: $dayModeIconColor !important;
      }

      .item {
        background: $bgColor !important;
        //color: $color !important;
        .item-inner {
          border-color: #223 !important;
        }

        &.selected {
          background: #223 !important;
        }

        &.clear {
          background: transparent !important;
          .item-inner {
            border-color: transparent !important;
          }
        }
      }
      
      player-controls-component {
        button.button-primary {
          color: $primaryButton !important;
          ion-icon {
            color: $primaryButton !important;
          }
        }

        button:hover {
          color: lighten($primaryButton, .2) !important;
          ion-icon {
            color: lighten($primaryButton, .2) !important;
          }
        }

        .range-bar-active,
        .range-knob {
          background-color: $knobColor !important;
        }
        .range-disabled .range-knob{
          outline: none !important;
        }

        ion-icon { font-size: 150%; }
      }

    }

  }
}
