$color: #aaa;
$knobColor: #2a88bd;
$primaryButton: #2a88bd;
$removeButton: #bd1900;
$dayModeIconColor: #a58400;
$bgColor: #111122;

.night-mode {
  ion-menu.mode-color {
    .item {
      background: transparent !important;
    }
  }

  .mode-color {

    button.fab {
      background-color: $knobColor !important;
    }

    .tabbar {
      background-color: $bgColor !important;
      .badge {
        background-color: $knobColor !important;
        opacity: .7;
        color: $bgColor;
      }
    }

    hr {
      background-color: rgba(255, 255, 255, 0.08) !important;
    }

    .playlist-item.selected {
      background: rgba(222,222,255, .05) !important;
    }

    ion-item-sliding {
      background-color: $bgColor !important;
    }

    .checkbox-md .checkbox-icon,
    .checkbox-ios .checkbox-icon,
    .button-md,
    .button-ios,
    .button-ion-primary,
    .button-md-primary {
      background-color: $primaryButton !important;
    }
    .checkbox-md .checkbox-icon,
    .checkbox-ios .checkbox-icon
    {
      border-color: $primaryButton !important;
    }

    .input-has-focus .item-inner {
      box-shadow: inset 0 -1px 0 0 $primaryButton !important;
    }

    .button-clear-ion,
    .button-clear-md {
      color: $primaryButton !important;
      background: transparent !important;
    }


    background: $bgColor !important;

    ion-list {
      ion-item.item-input:last-child {
        border-color: #223 !important;
      }
    }

    ion-list-header {
      background: $bgColor;
      color: $color;
      border-top-color: #223;
    }

    ion-label {
      color: $color !important;
    }

    ion-header {
      .toolbar {
        .text-input { color: $color; }
      }
    }

    .content {
      color: $color !important;
      background: #000011 !important;
      .label,
      ion-icon {
        color: $color;
      }
    }

    .toolbar-background {
      border-color: #000022 !important;
      background: $bgColor !important;
    }

    .item {
      background: $bgColor !important;
      color: $color !important;
      .item-inner {
        border-color: #223 !important;
      }

      &.selected {
        background: #223 !important;
      }

      &.clear {
        .item-inner {
          border-color: transparent !important;
        }
      }
    }

    .toolbar {
      color: $color !important;
      .toolbar-title,
      ion-icon,
      ion-select,
      ion-label {
        color: $color !important;
      }

      ion-segment-button {
        &.segment-activated {
          border-color: $knobColor !important;
        }
        color: $knobColor;
        ion-icon {
          color: $knobColor !important;
        }
      }

      ion-icon.connected {
        color: $primaryButton !important;
      }

      .button-primary {
        color: $primaryButton !important;
        ion-icon {
          color: $primaryButton !important;
        }
      }

      .button-primary:hover {
        color: lighten($primaryButton, .2) !important;
        ion-icon {
          color: lighten($primaryButton, .2) !important;
        }
      }

      .remove-button {
        color: $removeButton !important;
        ion-icon {
          color: $removeButton !important;
        }
      }

      .range-bar-active,
      .range-knob {
        background-color: $knobColor !important;
      }
      .range-disabled .range-knob {
        outline: none !important;
      }

      .toggle {
        .toggle-inner {
          background-color: #aaa;
        }
        .toggle-icon {
          background-color: #444;
        }
      }

      .day-mode-icon {
        color: $dayModeIconColor !important;
      }

    }

  }

}
