player-container {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: absolute;
  border-bottom: solid transparent;
  // @todo - dynamic border bottom

  ion-footer.player {
    top: 100%;
    position: fixed;
    left: 0;
  }

  ion-nav.hide-player {
    border-bottom: 0;
  }

  .media-player {
    width: 25%;
    z-index: 999;
    position: fixed;
    bottom: 25%;
    right: 10%;
    box-shadow: 10px 10px 20px rgba(0,0,0, .7);

    video {
      max-width: 100%;
      vertical-align: top;
    }
  }

  .media-player.hidden {
    display: none;
  }

  .playlist-container {

    box-shadow: 0 0 5px rgba(0,0,0, .9);
  }

  &.hide-player {
    border-bottom-width: 0;
  }

  &.open {
    > ion-content > .scroll-content {
      overflow-y: hidden;
    }
    .playlist-container {
      top: 0;
    }
  }

  &.down {
    .playlist-container {
      top: 100%;
    }
  }

  &.fx-enabled {
    transition: border 500ms ease-in-out;

    .playlist-container {
      transition: all 500ms ease-in-out;
    }

    ion-footer.player {
      transition: bottom 500ms ease-in-out;
    }
  }
}
