<ng-content></ng-content>

<!--<ion-content #video class="video-container">-->
<div class="media-player" [class.hidden]="player.status.audio || !player.medium">
  <video #videoPlayerEl></video>
  <audio #audioPlayerEl></audio>
</div>
<!--</ion-content>-->

<ion-content #playlist class="playlist-container">
  <playlist-component [playlist]="playlist" (hide)="hide($event)"></playlist-component>
</ion-content>

<ion-footer class="player mode-color">
  <ion-toolbar>
    <player-controls-component></player-controls-component>
  </ion-toolbar>
</ion-footer>
