<ng-content></ng-content>
<!--<ion-content [class.behind]="!playlist">-->
<ion-content class="playlist-container">

  <div ion-fixed>
    <div class="video">
      <video #player [width]="video.width" height="video.height"></video>
    </div>
  </div>

  <playlist-component [playlist]="playlist" (hide)="hide($event)" [player]="player"></playlist-component>
</ion-content>
<!--</ion-content>-->
<ion-footer>
  <ion-toolbar class="mode-color">
    <player-controls-component [player]="player"></player-controls-component>
  </ion-toolbar>
</ion-footer>
